{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% load crispy_forms_field %} {% load crispy_forms_filters %} {% load crispy_forms_utils %} {% block title %}{{ post.title }}{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'my_forum/post_detail.css' %}">{% endblock head %}
{% block content %} {% include 'my_forum/includes/nav-bar.html' %}
<div class="container">
  <div class="col-lg-12"> {% if page_obj.number == 1 %}
    <div class="div post card">
      <h1 id="title">{{ post.title}}
      </h1>
      <hr>
      <div class="post-content card-body">
        <p>{{ post.post_content|safe }}
        </p>
      </div>
      <div class="card-footer" style="background-color: #F6F6F6">
        <small>Posted by {{ post.user }} on {{ post.initial_post_date|date:"d. M. Y" }} at {{ post.initial_post_date|date:"H:i" }}
        </small>
      </div>
    </div>
    <hr> {% endif %} {% for comment in page_obj %}
    <div class="card">
      <div class="card-header">
        <h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
          </svg> {{ comment.user }}
          <small class="float-end" style="color: {% if comment.votes >= 0 %} green; {% else %}red;{% endif %} display: inline-block;">{% if comment.votes > 0 %}+{{ comment.votes }}{% else %}{{ comment.votes }}{% endif %}
          </small>
        </h3>
      </div>
      <div class="card-body">
        {{ comment.post_content|safe }}
      </div>
      <div class="card-footer">
        <small>Posted on: {{ comment.inital_post_date|date:"d. M. Y" }} at {{ comment.inital_post_date|date:"H:i" }}
          <form class="float-end" method="POST" action="{% url 'vote' comment.pk %}"> {% csrf_token %}
            <button type="submit" class="btn btn-outline-success btn-sm {% for item in request.session.commented %}{% if comment.pk == item %} disabled {% endif %}{% endfor %}" name="upvote" value="+1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
              </svg>
            </button>
            <button type="submit" class="btn btn-outline-danger btn-sm {% for item in request.session.commented %}{% if comment.pk == item  %} disabled {% endif %}{% endfor %}" name='downvote' value="-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
              </svg>
            </button>
          </form>
        </small>
      </div>
    </div>
    <hr> {% endfor %}
    <div id="comment-form">
      <h1 id="comment-title">Reply
      </h1>
      <form method="POST">
        {% csrf_token %}
        {{ form.user|as_crispy_field }}
        {{ form.post_content|as_crispy_field }}
        {{ form.media }}
        <button type="submit" class="btn btn-primary">Post!
        </button>
      </form>
    </div>
  </div>
</div> {% include 'my_forum/includes/footer.html' %} {% endblock content %}
